*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family:  Arial;
	background: url("img/bag.jpg");
	background-size: cover;
	background-position: center center;
	color:	skyblue;
}
table caption{
		text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 2em;
}
form{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
	border-radius: 10px;
	box-shadow:7px 7px 60px;
}