body{
	font-family:  Arial;
	background: url("img/cat.jpg");
	background-size: cover;
	background-position: center;
	color: black;
}
form{
		position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
	width: 380px;
	padding: 30px 20px;
	border-radius: 10px;
	box-shadow:7px 7px 60px #0000;

}

table caption{
		text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 2em;
}
.submit{
	background: red;
}
.submit:hover{
	color: blue;
}