*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Segoe Print";
	color: #fff;
	text-transform: uppercase;
} 
section{
	position: relative;
	height: 100vh;
	width: 100%;
	background: url("img/backg.jpeg");
	background-size: cover;
	background-position: center center;
}
.form-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
	width: 380px;
	padding: 50px 30px;
	border-radius: 10px;
	box-shadow:7px 7px 60px #ooo;
}
h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	margin-bottom: 2em;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span{
	background: #009688;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
div.control input{
	width: 180px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	background-color: white;
	position: relative;
	border: none;
}
