*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family:  Segoe Print;
}
nav{
	background: #0082e6;
	height: 120px;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}
label.logo{
	color: #f80e0e;
	font-size: 35px;
	line-height: 50px; 
	padding: 0 50px;
	font-weight: bold;
	text-transform: uppercase;
}
div{
		float: right;
	margin-right:10px;

}
nav ul{
	float: right;
	margin-right:10px;
}
nav ul li{
	display: inline-block;
	line-height: 15px;
	margin: 0 25px;
	position: relative;
}
nav ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #f80e0e;
	position: absolute;
	left: 0;
	bottom: 0px;
	transition: 0.5s;
}
nav ul li:hover::after{
width: 100%;
	}
nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 17px;
	text-transform: uppercase; 
}
a.active,a:hover{
	background: #1b9bff;
	transition: .5s;
}
nav ul li:hover > ul{
	display: block;
}
nav ul li ul{
	position: absolute;
	margin-left: -10px;
	width: 250px;
	display: none;
	background: #0082e6;
}
nav ul li ul li{
	width: 100%;
	text-align: left;
	line-height: 15px;
	padding-bottom: 20px;
}












